<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>⚡ Awesome Tenstorrent</title>
  <meta name="description" content="A curated, community-first collection of projects and resources for the Tenstorrent ecosystem.">
  <style>{% inlineFile "src/assets/style.css" %}</style>
</head>
<body>
  {{ content | safe }}
  <script>{% inlineFile "src/assets/main.js" %}</script>
</body>
</html>
